<h1>adicione um usuario</h1>

<form action="/users/create" method="POST" class="form">
<div class="form=control">
<label for="name">nome:</label>
<input type="text" name="name" placeholder="digite o nome do usuario">
</div>
<div class="form=control"></div>
<label for="occupation">nome:</label>
<input type="text" name="occupation" placeholder="digite o nome da profissao">
</div>
</form>